*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

:root{
    --bg-primary-color:#0c0c0c;
    --text-primary-color:#f0f0f0;
    --space-xs:4px;
    --space-sm:8px;
    --space-m:16px;
    --space-l:24px;
    --space-xl:32px;
    --space-2xl:40px;
    --space-3xl:48px;
    --border-primary-color:#333333;
    --border-radius-xs:4px;
    --border-radius-sm:8px;
    --border-radius-m:12px;
    --border-radius-l:16px;
    --border-radius-xl:20px;
    --border-radius-2xl:24px;
}

html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}

main,section{
    width: 100%;
    height: 100%;
}

section{
    padding: var(--space-2xl);
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: var(--space-l);
}

section .infos{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.info{
    padding: var(--space-sm) var(--space-m);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
}

.board{
    border: 1px solid var(--border-primary-color);
    flex-grow: 1;
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(30px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(30px,1fr));
}

.block{
    width: 30px;
    height: 30px;
    border: 1px solid var(--border-primary-color);
}